#contentdiv{
float: Right;
justify-items: right;
color: black;
}
#imag{
    background-image: url('../images/akanimg.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    padding: 300px;
    float: left;
    height: 100%;
    
}
#day{
   color:darkgreen;
}
#akaname{
    color: rgb(201, 18, 109);
}
#firstn{
text-align: center;
color: darkred;
}
#invalidInfo{
    color: red;
}
