#contentdiv {
  float: Right;
  display: block;
  margin-right: 300px;
  margin-top: 300px;
  color: black;
}
#imag {
  background-image: url("../images/akanimg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 470px;
  float: left;
}
#day {
  color: darkgreen;
}
#akaname {
  color: rgb(201, 18, 109);
}
#firstn {
  text-align: center;
  color: darkred;
}
#invalidInfo {
  color: red;
}
